@model IEnumerable<OsirisPdvReal.Models.TipoProduto>

@{
    ViewData["Title"] = "Index";
}

<div class="modal" id="visao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir esse status?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success botaoDoId" style="font-size:10px;">Sim</button>
                <button type="button" class="btn btn-danger" style="font-size:10px;" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<h5 class="divBtn fontTitles">LISTAGEM DE TIPOS DE PRODUTOS</h5>

<div class="divBtn">
    <a class="btn btnPage btn-success mt-2" asp-action="Create">Novo tipo de produto</a>
</div>

@if (TempData["msgSucesso"] != null)
{
    <div class="alert alert-danger alert-dismissable mt-2" style="margin-left:10%;margin-right:10%">
        <strong>@TempData["msgSucesso"]</strong>
    </div>
}


<table class="table mt-4 table-striped">
    <thead class="tHeadPurple">
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.NomeTipoProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeTipoProduto)
                </td>
                <td class="float-right">
                    <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.TipoProdId">Editar</a> |

                    <a class="btn btn-danger text-white" data-toggle="modal" data-target="#visao" onclick="PassarDados(@item.TipoProdId)">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        var idParaApagar

        function PassarDados(idJornaleiro) {
            $(".botaoDoId").on('click', function () {
                $.ajax({
                    url: "/TipoProdutos/Delete",
                    method: "POST",
                    data: { id: idJornaleiro },
                    success: function (data) {
                        if (data == "ok") {
                            $(".modal").modal('hide');
                            location.reload(true);
                        } else {
                            $(".modal").modal('hide');
                            alert("Esse tipo de produto esta sendo utilizado pelo sistema, favor apague suas amarrações antes de excluí-lo!")
                        }
                    }
                });
            });
        }


    </script>
}