@model ReflectionIT.Mvc.Paging.PagingList<OsirisPdvReal.Models.Venda>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="visao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tHeadPurple">
                <h5 class="modal-title font-weight-bold text-white" id="titleModal">Produtos da venda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalInfo">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="font-size:12px;" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h5 class="divBtn fontTitles">LISTAGEM DE VENDAS</h5>


<div class="modal" id="modal2" tabindex="-1" style="margin-top:100px;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-left: 40%;" class="loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex" style="margin-left: 5%;">
    <form asp-action="Index">
        <div class="d-flex">
            <input style="display: none" id="tipo" name="tipo" value="date" />
            <input type="date" class="form-control borderInput" name="busca" id="busca" placeholder="Pesquisar por data..." />
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>
        </div>
    </form>

    <form class="ml-4" asp-action="Index">
        <div class="d-flex">
            <input style="display: none" id="tipo" name="tipo" value="client" />
            <input type="text" class="form-control borderInput" name="buscaCliente" id="buscaCliente" placeholder="Pesquisar por cliente..." />
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>
        </div>
    </form>

    <form class="ml-4" asp-action="Index">
        <div class="d-flex">
            <input style="display: none" id="tipo" name="tipo" value="banca" />
            <input type="text" class="form-control borderInput" name="buscaBanca" id="buscaBanca" placeholder="Pesquisar por banca..." />
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>
        </div>
    </form>

    <a asp-action="GerarCSV" class="btn btn-success ml-3">Download CSV</a>
</div>

@if (Model.Count() > 0)
{



<div class="divBtn mt-3">
    <a class="btn btnPage btn-success mt-2" asp-action="Create">Nova venda</a>
</div>
    <table class="table mt-4 table-striped">
        <thead class="tHeadPurple">
            <tr>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.DataVenda)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.ValorVenda)
                </th>
                <th class="text-white">
                    Cliente
                </th>
                <th class="text-white">
                    Banca
                </th>
                <th class="text-white">
                    Jornaleiro
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.DataVenda.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clientes.NomeCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bancas.NomeBanca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jornaleiros.NomeJornaleiro)
                    </td>
                    <td>
                        <a class="btn-sm btn-warning text-white" onclick="InfoVenda(@item.VendaId)" data-toggle="modal" data-target="#visao">PRODUTOS</a>
                        <a class="btn-sm btn-danger text-white" onclick="ApagarVenda(@item.VendaId)" data-toggle="modal" data-target="#modal2">EXCLUIR</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav class="float-right">
        <form method="post">
            @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
        </form>
    </nav>
}
else
{
    @await Component.InvokeAsync("Produto")
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        window.localStorage.clear();

        function ApagarVenda(id) {
            $.ajax({
                url: "/Vendas/Delete",
                method: "POST",
                data: { id: id },
                success: function (data) {
                    location.reload(true)
                }
            });
        }

        function InfoVenda(id) {
            document.getElementById('modalInfo').innerHTML = "";
            console.log('entro')
            $.ajax({
                url: "/Vendas/ShowInfo",
                method: "POST",
                data: { id: id },
                datatype: "json",
                success: function (data) {
                    console.log(data)
                    for (i = 0; i < data.length; i++) {
                        console.log(data[i])
                        console.log(data[i].NomeProduto)
                        $('#modalInfo').append('<div class="d-flex"><p class="font-weight-bold"> Produto - ' + data[i].nomeProduto + '</p><span class="badge badge-pill badge-primary mt-1 ml-2" style="height:20px;">Unidade(s) - ' + data[i].quantidadeProduto + '</span></div>');
                    }
                }
            });
        }
    </script>

}