@model IEnumerable<OsirisPdvReal.Models.Venda>

@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="visao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header tHeadPurple">
                <h5 class="modal-title font-weight-bold text-white" id="titleModal">Produtos da venda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalInfo">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="font-size:12px;" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h5 class="divBtn fontTitles">LISTAGEM DE VENDAS</h5>

<div class="divBtn">
    <a class="btn btnPage btn-success mt-2" asp-action="Create">Nova venda</a>
</div>

@if(Model != null) { 
    <table class="table mt-4 table-striped">
        <thead class="tHeadPurple">
            <tr>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.DataVenda)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.ValorVenda)
                </th>
                <th class="text-white">
                    Cliente
                </th>
                <th class="text-white">
                    Banca
                </th>
                <th class="text-white">
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.DataVenda.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clientes.NomeCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bancas.NomeBanca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.NomeStatus)
                    </td>
                    <td>
                        <a class="btn-sm btn-warning text-white" onclick="InfoVenda(@item.VendaId)" data-toggle="modal" data-target="#visao">PRODUTOS</a>
                        <a class="btn-sm btn-danger text-white" onclick="ApagarVenda(@item.VendaId)">EXCLUIR</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<div class="divBtn mt-5">
    <div class="card">
        <h5 class="card-header font-weight-bold text-white" style="background-color: #00AA9E;">Nenhum item cadastrado</h5>
        <div class="card-body">
            <h5 class="card-title">Você não possui dados para serem exibidos, que tal começar cadastrando alguns dados?</h5>
        </div>
    </div>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        window.localStorage.clear();

        function ApagarVenda(id) {
            $.ajax({
                url: "/Vendas/Delete",
                method: "POST",
                data: { id: id },
                success: function (data) {
                    location.reload(true)
                }
            });
        }

        function InfoVenda(id) {
            document.getElementById('modalInfo').innerHTML = "";
            console.log('entro')
            $.ajax({
                url: "/Vendas/ShowInfo",
                method: "POST",
                data: { id: id },
                datatype: "json",
                success: function (data) {
                    console.log(data)
                    for (i = 0; i < data.length; i++) {
                        console.log(data[i])
                        console.log(data[i].NomeProduto)
                        $('#modalInfo').append('<div class="d-flex"><p class="font-weight-bold"> Produto - ' + data[i].nomeProduto + '</p><span class="badge badge-pill badge-primary mt-1 ml-2" style="height:20px;">Unidade(s) - ' + data[i].quantidadeProduto + '</span></div>');
                    }
                }
            });
        }
    </script>

}