@model ReflectionIT.Mvc.Paging.PagingList<OsirisPdvReal.Models.Compras>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<div class="modal" id="visao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir essa compra?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success botaoDoId" style="font-size:10px;">Sim</button>
                <button type="button" class="btn btn-danger" style="font-size:10px;" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<h5 class="divBtn fontTitles">LISTAGEM DE COMPRAS</h5>
@if (TempData["msgSucesso"] != null)
{
    <div class="alert alert-danger alert-dismissable mt-2" style="margin-left:10%;margin-right:10%">
        <strong>@TempData["msgSucesso"]</strong>
    </div>
}

<div class="d-flex">

    <form asp-action="Index">
        <div class="d-flex">
            <input type="date" class="form-control borderInput" name="busca" id="busca" placeholder="Pesquisar por data..." />
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>
        </div>
    </form>

    <form asp-action="SearchByFornecedor" class="ml-3">
        <div class="d-flex">
            <select id="buscaFornecedor" name="buscaFornecedor" class="form-control borderInput">
                <option value="" disabled selected>Fornecedores...</option>
                @foreach (var y in ViewBag.fornecedor)
                {
                    <option value="@y">@y</option>
                }
            </select>
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>
        </div>
    </form>

    <div class="ml-4 ml-3">
        <a class="btn btn-success" asp-action="Create">Nova compra</a>
    </div>

    <a asp-action="GerarCSV" class="btn btn-success ml-3">Download CSV</a>

</div>

@if (Model.Count > 0)
{





    <table class="table mt-4 table-striped">
        <thead class="tHeadPurple">
            <tr>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.NomeItemCompra)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.QuantidadeCompra)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.DataCompra)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.ValorCompra)
                </th>
        
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.fornecedor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeItemCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantidadeCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCompra)
                    </td>
                    <td class="ml-5">
                        @Html.DisplayFor(modelItem => item.ValorCompra)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.fornecedor.NomeFornecedor)
                    </td>
                    <td class="float-right">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ComprasId">Editar</a> |
                        <a class="btn btn-danger" data-toggle="modal" data-target="#visao" onclick="PassarDados(@item.ComprasId)">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav class="float-right">
        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
    </nav>
}
else
{
    @await Component.InvokeAsync("Produto")

}
@section Scripts{
    <script>
        var idParaApagar
        $(function () {
            var dtToday = new Date();

            window.localStorage.clear();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;
            $('#busca').attr('max', maxDate);
        });


        function PassarDados(idJornaleiro) {
            $(".botaoDoId").on('click', function () {
                $.ajax({
                    url: "/Compras/Delete",
                    method: "POST",
                    data: { id: idJornaleiro },
                    success: function (data) {
                        $(".modal").modal('hide');
                        location.reload(true);
                    }
                });
            });
        }


    </script>
}