@model ReflectionIT.Mvc.Paging.PagingList<OsirisPdvReal.Models.Banca>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}

<div class="modal" id="visao" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir essa banca?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success botaoDoId" style="font-size:10px;">Sim</button>
                <button type="button" class="btn btn-danger" style="font-size:10px;" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<h5 class="divBtn fontTitles">LISTAGEM DE BANCAS</h5>
@if (TempData["msgSucesso"] != null)
{
    <div class="alert alert-danger alert-dismissable mt-2" style="margin-left:10%;margin-right:10%">
        <strong>@TempData["msgSucesso"]</strong>
    </div>
}





@if (Model.Count > 0)
{
<div class="d-flex">
    <form asp-action="Index">
        <div class="d-flex">
            <input type="text" class="form-control borderInput" name="busca" id="busca" placeholder="Pesquisar por banca..." />
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>

        </div>
    </form>

    <form asp-action="SearchJornaleiro">
        <div class="d-flex ml-1">
            <input type="text" class="form-control borderInput" name="buscaJornaleiro" id="buscaJornaleiro" placeholder="Pesquisar por jornaleiro..." />
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>

        </div>
    </form>

    <form class="ml-2" asp-action="BuscarBairro">
        <div class="d-flex">
            <select id="bairroBusca" name="bairroBusca" class="form-control borderInput">
                <option value="" disabled selected>Bairros Rio de Janeiro...</option>
                @foreach (var y in ViewBag.bairros)
                {
                    <option value="@y">@y</option>
                }
            </select>
            <button class="btn btn-success searchBtn" style="margin-left:1%;"><i class="fa fa-search text-white"></i></button>
        </div>
    </form>

    <form class="ml-2" asp-action="Index">
        <a class="btn btn-success" asp-action="Create">Nova banca</a>
    </form>

    <a asp-action="GerarCSV" class="btn btn-success ml-2">Download CSV</a>
</div>


    <table class="table mt-4 table-striped">
        <thead class="tHeadPurple">
            <tr>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.NomeBanca)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.Jornaleiro)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.CEPbanca)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeBanca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jornaleiro.NomeJornaleiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEPbanca)
                </td>
                <td class="float-right">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BancaId">Editar</a> |

                    <a class="btn btn-danger" data-toggle="modal" data-target="#visao" onclick="PassarDados(@item.BancaId)">Excluir</a>
                </td>

            </tr>
            }
        </tbody>
    </table>

    <nav class="float-right">
        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
    </nav>
}
else
{
    @await Component.InvokeAsync("Produto")

    @*<div class="divBtn mt-5">
            <div class="card">
                <h5 class="card-header font-weight-bold text-white" style="background-color: #00AA9E;">Nenhum item cadastrado</h5>
                <div class="card-body">
                    <h5 class="card-title">Você não possui dados para serem exibidos, que tal começar cadastrando alguns dados?</h5>
                </div>
            </div>
        </div>*@
}
@section Scripts{
    <script>
        var idParaApagar

        window.localStorage.clear();
        function PassarDados(idJornaleiro) {
            $(".botaoDoId").on('click', function () {
                $.ajax({
                    url: "/Bancas/Delete",
                    method: "POST",
                    data: { id: idJornaleiro },
                    success: function (data) {
                        if (data == "erro") {
                            alert("Banca vinculada à uma venda, logo não é possivel realizar sua exclusão")
                            $(".modal").modal('hide');
                            location.reload(true);

                        } else {
                            $(".modal").modal('hide');
                            location.reload(true);
                        }       
                    }
                });
            });
        }


    </script>
}
