@model ReflectionIT.Mvc.Paging.PagingList<OsirisPdvReal.Models.Jornaleiro>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}



<div class="divBtn">
    <a class="btn btnPage btn-success mt-2" asp-action="Create">Novo Jornaleiro</a>
</div>

<table class="table mt-4">
    <thead class="tHeadPurple">
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.NomeJornaleiro)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.EmailJornaleiro)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.TelefoneJornaleiro)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.SenhaJornaleiro)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeJornaleiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailJornaleiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefoneJornaleiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenhaJornaleiro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.NomeStatus)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.JornaleiroId">Editar</a> |

                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.JornaleiroId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--isso e as 3 primeiras linhas sao necessarias para a paginacao-->
<nav class="float-right">
    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
</nav>